# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Runtime
.pnpm-debug.log
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# Uploaded files (if dynamically created)
uploads/

# IDEs/editors
.vscode/
.idea/
*.swp

# Others
dist/
build/
